<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <title>Spotify: Login</title>
</head>
<body>
    <a class="center-button" href="/login">Login with Spotify</a>
</body>
</html>

<!-- Questions:
 - when to use <a> vs. <button> for a button
 -->